{% extends "layout.popup.twig" %}

{% block title %}{{ LNG.fcm_info }}{% endblock %}
{% block content %}

<div class="content_page">
	<div class="title">
		{{ LNG.fcm_info }}
	</div>

	<div>
		<table style="width: 100%;">
			<tr>
				<td><p>{{ message|raw }}</p>{% if redirectButtons %}<p>{% for button in redirectButtons %}<a href="{{ button.url }}"><button>{{ button.label }}</button></a>{% endfor %}</p>{% endif %}</td>
			</tr>
		</table>
	</div>
</div>

{% endblock %}