<!DOCTYPE html>
<html lang="{{ lang }}" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
	<title>{% block title %} - {{ uni_name }} - {{ game_name }}{% endblock %}</title>
	<meta name="generator" content="SmartMoons {{ VERSION }}">
	<!-- 
		This website is powered by SmartMoons {{ VERSION }}
		SmartMoons is a modern fork of 2Moons, a free Space Browsergame initially created by Jan Kröpke and licensed under MIT.
		Original 2Moons is copyright 2009-2018 of Jan Kröpke. SmartMoons modernization by 0wum0.
		Information and contribution at https://github.com/0wum0/SmartMoons-v3.0/
	-->
	{% if goto %}
	<meta http-equiv="refresh" content="{{ gotoinsec }};URL={{ goto }}">
	{% endif %}

	<link rel="stylesheet" type="text/css" href="./styles/resource/css/base/boilerplate.css?v={{ REV }}">
	<link rel="stylesheet" type="text/css" href="./styles/resource/css/ingame/main.css?v={{ REV }}">
	<link rel="stylesheet" type="text/css" href="./styles/resource/css/ingame/pages.css?v={{ REV }}">
	<link rel="stylesheet" type="text/css" href="./styles/resource/css/ingame/all.css?v={{ REV }}">
	<link rel="stylesheet" type="text/css" href="./styles/resource/css/base/jquery.css?v={{ REV }}">
	<link rel="stylesheet" type="text/css" href="./styles/resource/css/base/jquery.fancybox.css?v={{ REV }}">
	<link rel="stylesheet" type="text/css" href="./styles/resource/css/base/validationEngine.jquery.css?v={{ REV }}">
	<link rel="stylesheet" type="text/css" href="{{ dpath }}ingame.css?v={{ REV }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	
	<script type="text/javascript">
	var ServerTimezoneOffset = {{ Offset }};
	var serverTime 	= new Date({{ date.0 }}, {{ date.1 - 1 }}, {{ date.2 }}, {{ date.3 }}, {{ date.4 }}, {{ date.5 }});
	var startTime	= serverTime.getTime();
	var localTime 	= serverTime;
	var localTS 	= startTime;
	var Gamename	= document.title;
	var Ready		= "{{ LNG.ready }}";
	var Skin		= "{{ dpath }}";
	var Lang		= "{{ lang }}";
	var head_info	= "{{ LNG.fcm_info }}";
	var auth		= {{ authlevel|default("0") }};
	var days 		= {{ LNG.week_day|json_encode|raw|default("[]") }};
	var months 		= {{ LNG.months|json_encode|raw|default("[]") }};
	var tdformat	= "{{ LNG.js_tdformat }}";
	var queryString	= {{ queryString|json_encode|raw }};
	var isPlayerCardActive	= {{ isPlayerCardActive|json_encode|raw }};

	setInterval(function() {
		serverTime.setSeconds(serverTime.getSeconds()+1);
	}, 1000);
	</script>
	
	<script type="text/javascript" src="./scripts/base/jquery.js?v={{ REV }}"></script>
	<script type="text/javascript" src="./scripts/base/jquery.ui.js?v={{ REV }}"></script>
	<script type="text/javascript" src="./scripts/base/jquery.cookie.js?v={{ REV }}"></script>
	<script type="text/javascript" src="./scripts/base/jquery.fancybox.js?v={{ REV }}"></script>
	<script type="text/javascript" src="./scripts/base/jquery.validationEngine.js?v={{ REV }}"></script>
	<script type="text/javascript" src="./scripts/l18n/validationEngine/jquery.validationEngine-{{ lang }}.js?v={{ REV }}"></script>
	<script type="text/javascript" src="./scripts/base/tooltip.js?v={{ REV }}"></script>
	<script type="text/javascript" src="./scripts/game/base.js?v={{ REV }}"></script>
	<script type="text/javascript" src="./scripts/game/sci-fi-ui.js?v={{ REV }}"></script>
	{% for scriptname in scripts %}
	<script type="text/javascript" src="./scripts/game/{{ scriptname }}.js?v={{ REV }}"></script>
	{% endfor %}
	{% block script %}{% endblock %}
	<script type="text/javascript">
	$(function() {
		{{ execscript|raw }}
	});
	</script>
</head>

<body id="{{ GET.page|default("overview")|e }}" class="{{ bodyclass }}">
	<div id="tooltip" class="tip"></div>
	
	<!-- Futuristic Resource Header -->
	<div id="header">
		<div id="headerTable">
			<!-- Metal Resource -->
			<div class="bar-main-container">
				<div class="wrap">
					<div class="bar-percentage">
						<img src="{{ dpath }}images/metal.gif" alt="Metal">
					</div>
					<div class="bar-container">
						<div class="bar" style="width: {{ (Metal.percent)|default(0) }}%;"></div>
						<div class="bar-text">
							<span class="resource-value" data-resource="metal">{{ Metal.current|number_format }}</span> / {{ Metal.max|number_format }}
						</div>
					</div>
					<div class="bar-change">
						<a href="#" title="{{ LNG.resources_metal_production }}: {{ Metal.production|number_format }}/h">
							<i class="fas fa-info-circle"></i>
						</a>
					</div>
				</div>
			</div>
			
			<!-- Crystal Resource -->
			<div class="bar-main-container">
				<div class="wrap">
					<div class="bar-percentage">
						<img src="{{ dpath }}images/crystal.gif" alt="Crystal">
					</div>
					<div class="bar-container">
						<div class="bar" style="width: {{ (Crystal.percent)|default(0) }}%;"></div>
						<div class="bar-text">
							<span class="resource-value" data-resource="crystal">{{ Crystal.current|number_format }}</span> / {{ Crystal.max|number_format }}
						</div>
					</div>
					<div class="bar-change">
						<a href="#" title="{{ LNG.resources_crystal_production }}: {{ Crystal.production|number_format }}/h">
							<i class="fas fa-info-circle"></i>
						</a>
					</div>
				</div>
			</div>
			
			<!-- Deuterium Resource -->
			<div class="bar-main-container">
				<div class="wrap">
					<div class="bar-percentage">
						<img src="{{ dpath }}images/deuterium.gif" alt="Deuterium">
					</div>
					<div class="bar-container">
						<div class="bar" style="width: {{ (Deuterium.percent)|default(0) }}%;"></div>
						<div class="bar-text">
							<span class="resource-value" data-resource="deuterium">{{ Deuterium.current|number_format }}</span> / {{ Deuterium.max|number_format }}
						</div>
					</div>
					<div class="bar-change">
						<a href="#" title="{{ LNG.resources_deuterium_production }}: {{ Deuterium.production|number_format }}/h">
							<i class="fas fa-info-circle"></i>
						</a>
					</div>
				</div>
			</div>
			
			<!-- Energy Resource -->
			<div class="bar-main-container">
				<div class="wrap">
					<div class="bar-percentage">
						<img src="{{ dpath }}images/energy.gif" alt="Energy">
					</div>
					<div class="bar-container">
						<div class="bar" style="width: {{ (Energy.percent)|default(0) }}%;"></div>
						<div class="bar-text">
							<span class="resource-value" data-resource="energy">{{ Energy.current|number_format }}</span> / {{ Energy.max|number_format }}
						</div>
					</div>
					<div class="bar-change">
						<a href="#" title="{{ LNG.resources_energy_production }}: {{ Energy.production|number_format }}">
							<i class="fas fa-info-circle"></i>
						</a>
					</div>
				</div>
			</div>
			
			<!-- Dark Matter -->
			{% if Darkmatter is defined %}
			<div class="heder_res_921">
				<img src="{{ dpath }}images/darkmatter.gif" alt="Dark Matter">
				<span class="res_921_text resource-value" data-resource="darkmatter">{{ Darkmatter|number_format }}</span>
			</div>
			{% endif %}
		</div>
	</div>