{% block title %}{{ LNG.gl_phalanx }}{% endblock %}
{% block content %}
<table width="90%">
<tr>
    <th colspan="2">{{ LNG.px_scan_position }} [{{ galaxy }}:{{ system }}:{{ planet }}] ({{ name }})</th>
</tr>
<tr>
    <th colspan="2">{{ LNG.px_fleet_movement }}</th>
</tr>
	{% for index, fleet in fleetTable %}
	<tr>
		<td id="fleettime_{{ index }}" class="fleets" data-fleet-end-time="{{ fleet.returntime }}" data-fleet-time="{{ fleet.resttime }}">00:00:00</td>
		<td>{{ fleet.text|raw }}</td>
	</tr>
	{% else %}
		<tr><td colspan="2">{{ LNG.px_no_fleet }}</td></tr>
	{% endfor %}
</table>
{% endblock %}