{% block title %}{{ LNG.lm_buildings }}{% endblock %}
{% block content %}

<div class="content_page" style="width: 95%;">
	<div class="title">
		{{ LNG.lm_buildings }}
	</div>

	{% if Queue is not empty %}
	<div id="buildlist" class="buildlist">
		<table style="width:100%;">
			{% for List in Queue %}
			{$ID = $List.element}
			<tr>
				<td style="width:70%;vertical-align:top;" class="left">
					{$List@iteration}.: 
					{% if !(isBusy.research && (ID == 6 || ID == 31)) && !(isBusy.shipyard && (ID == 15 || ID == 21)) && RoomIsOk && CanBuildElement && BuildInfoList[ID].buyable %}
					<form class="build_form" action="game.php?page=buildings" method="post">
						<input type="hidden" name="cmd" value="insert">
						<input type="hidden" name="building" value="{{ ID }}">
						<button type="submit" class="build_submit onlist">{$LNG.tech.{{ ID }}} {{ List.level }}{% if List.destroy %} {{ LNG.bd_dismantle }}{% endif %}</button>
					</form>
					{% else %}{$LNG.tech.{{ ID }}} {{ List.level }} {% if List.destroy %}{{ LNG.bd_dismantle }}{% endif %}{% endif %}
					{% if List@first %}
					<br><br><div id="progressbar" data-time="{{ List.resttime }}"></div>
				</td>
				<td>
					<div id="time" data-time="{{ List.time }}"><br></div>
					<form action="game.php?page=buildings" method="post" class="build_form">
						<input type="hidden" name="cmd" value="cancel">
						<button type="submit" class="build_submit onlist">{{ LNG.bd_cancel }}</button>
					</form>
					{% else %}
				</td>
				<td>
					<form action="game.php?page=buildings" method="post" class="build_form">
						<input type="hidden" name="cmd" value="remove">
						<input type="hidden" name="listid" value="{$List@iteration}">
						<button type="submit" class="build_submit onlist">{{ LNG.bd_cancel }}</button>
					</form>
					{% endif %}
					<br><span style="color:lime" data-time="{{ List.endtime }}" class="timer">{{ List.display }}</span>
				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
	{% endif %}

{% for ID, Element in BuildInfoList %}
	<div class="main_construct">
		
		<div class="block_construct">
			<div class="title" style="margin: 5px 0 0 -5px; text-align: left;">
				<a href="#" onclick="return Dialog.info({{ ID }})"><img src="{{ dpath }}gebaeude/{{ ID }}.gif" alt="{$LNG.tech.{{ ID }}}" width="20" height="20"> {$LNG.tech.{{ ID }}} {% if Element.level > 0 %} - {{ LNG.bd_lvl }} {{ Element.level }}{% if Element.maxLevel != 255 %}/{{ Element.maxLevel }}{% endif %}{% endif %}</a>
				<span style="float: right;">
					{% if Element.level > 0 %}
							{% if ID == 43 %}<a href="#" onclick="return Dialog.info({{ ID }})">{{ LNG.bd_jump_gate_action }}</a>{% endif %}
							{% if (ID == 44 && !HaveMissiles) ||  ID != 44 %}<a class="tooltip_sticky" data-tooltip-content="
								{#  Start Destruction Popup  #}
								<table style='width:300px'>
									<tr>
										<th colspan='2'>{{ LNG.bd_price_for_destroy }} {$LNG.tech.{{ ID }}} {{ Element.level }}</th>
									</tr>
									{% for ResType, ResCount in Element.destroyResources %}
									<tr>
										<td>{$LNG.tech.{{ ResType }}}</td>
										<td><span style='color:lime'>{{ ResCount|number_format }}</span></td>
									</tr>
									{% endfor %}
									<tr>
										<td>{{ LNG.bd_destroy_time }}</td>
										<td>{{ Element.destroyTime|time }}</td>
									</tr>
									<tr>
										<td colspan='2'>
											<form action='game.php?page=buildings' method='post' class='build_form'>
												<input type='hidden' name='cmd' value='destroy'>
												<input type='hidden' name='building' value='{{ ID }}'>
												<button type='submit' class='build_submit onlist'>{{ LNG.bd_dismantle }}</button>
											</form>
										</td>
									</tr>
								</table>
								{#  End Destruction Popup  #}
								"><i class="fas fa-trash-alt" style="color: red; font-size: 11px;"></i></a>{% endif %}
						{% endif %}
				</span>
				<div class="clear"></div>
			</div>
			<div class="block_construct_desc">
				<div class="block_construct_desc_list">
					{% for RessID, RessAmount in Element.costResources %}
						<div style="margin-bottom: 10px;">
							<img src="{{ dpath }}images/{{ RessID }}.gif" alt=""> <b><span {% if Element.costOverflow[RessID] == 0 %}class="res_{{ RessID }}_text"{% endif %} style="color:{% if Element.costOverflow[RessID] == 0 %}{% else %}red{% endif %}">{{ RessAmount|number_format }}</span></b>
						</div>
					{% endfor %}

					{% if Element.infoEnergy is not empty %}
						{{ LNG.bd_next_level }}<br>
						{{ Element.infoEnergy }}<br>
						<br>
					{% endif %}

					<span style="font-weight: bold;"><i class="fas fa-tachometer-alt" style="font-size: 13px;"></i> {{ Element.elementTime|time }}</span>

				</div>

				<div>
					{% if Element.maxLevel == Element.levelToBuild %}
						<div class="construct_button_lost">
							<span style="color:red">{{ LNG.bd_maxlevel }}</span>
						</div>
					{% elseif (isBusy.research && (ID == 6 || ID == 31)) || (isBusy.shipyard && (ID == 15 || ID == 21)) %}
						<div class="construct_button_lost">
							<span style="color:red">{{ LNG.bd_working }}</span>
						</div>
					{% else %}
						{% if RoomIsOk %}
							{% if CanBuildElement && Element.buyable %}
							<form action="game.php?page=buildings" method="post" class="build_form">
								<input type="hidden" name="cmd" value="insert">
								<input type="hidden" name="building" value="{{ ID }}">
								<button type="submit" class="build_submit construct_button">{% if Element.level == 0 %}{{ LNG.bd_build }}{% else %}{{ LNG.bd_build_next_level }}{{ Element.levelToBuild + 1 }}{% endif %}</button>
							</form>
							{% else %}
							<div class="construct_button_lost">
								<span style="color:red">{% if Element.level == 0 %}{{ LNG.bd_build }}{% else %}{{ LNG.bd_build_next_level }}{{ Element.levelToBuild + 1 }}{% endif %}</span>
							</div>
							{% endif %}
						{% else %}
						<div class="construct_button_lost">
							<span style="color:red">{{ LNG.bd_no_more_fields }}</span>
						</div>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	<div class="clear"></div>

</div>

{% endblock %}