{% include "overall_header.twig" %}
<table width="90%">
<tr>
	<th>{{ LNG.ff_fleetid }}</th>
	<th>{{ LNG.ff_mission }}</th>
	<th>{{ LNG.ff_starttime }}</th>
	<th>{{ LNG.ff_ships }}</th>
	<th>{{ LNG.ff_startuser }}</th>
	<th>{{ LNG.ff_startplanet }}</th>
	<th>{{ LNG.ff_arrivaltime }}</th>
	<th>{{ LNG.ff_targetuser }}</th>
	<th>{{ LNG.ff_targetplanet }}</th>
    <th>{{ LNG.ff_endtime }}</th>
    <th>{{ LNG.ff_holdtime }}</th>
    <th>{{ LNG.ff_lock }}</th>
</tr>
{% for FleetRow in FleetList %}
<tr>
	<td>{{ FleetRow.fleetID }}</td>
	<td><a href="#" data-tooltip-content="<table style='width:200px'>{% for resourceID, resourceCount in FleetRow.resource %}<tr><td style='width:50%'>{{ LNG.tech[resourceID] }}</td><td style='width:50%'>{{ resourceCount|number_format }}</td></tr>{% endfor %}</table>" class="tooltip">{{ LNG["type_mission_{{ FleetRow.missionID }}"] }}{% if FleetRow.acsID != 0 %}<br>{{ FleetRow.acsID }}<br>{{ FleetRow.acsName }}{% endif %} (R)</a></td>
	<td>{{ FleetRow.starttime }}</td>
	<td><a href="#" data-tooltip-content="<table style='width:200px'>{% for shipID, shipCount in FleetRow.ships %}<tr><td style='width:50%'>{{ LNG.tech[shipID] }}</td><td style='width:50%'>{{ shipCount|number_format }}</td></tr>{% endfor %}</table>" class="tooltip">{{ FleetRow.count|number_format }} (D)</a></td>
	<td>{{ FleetRow.startUserName }} (ID: {{ FleetRow.startUserID }})</td>
	<td>{{ FleetRow.startPlanetName }} [{{ FleetRow.startPlanetGalaxy }}:{{ FleetRow.startPlanetSystem }}:{{ FleetRow.startPlanetPlanet }}] (ID: {{ FleetRow.startPlanetID }})</td>
	<td>{% if FleetRow.state == 0 %}<span style="color:lime;">{% endif %}{{ FleetRow.arrivaltime }}{% if FleetRow.state == 0 %}</span>{% endif %}</td>
	<td>{% if FleetRow.targetUserID != 0 %}{{ FleetRow.targetUserName }} (ID: {{ FleetRow.targetUserID }}){% endif %}</td>
	<td>{{ FleetRow.targetPlanetName }} [{{ FleetRow.targetPlanetGalaxy }}:{{ FleetRow.targetPlanetSystem }}:{{ FleetRow.targetPlanetPlanet }}]{% if FleetRow.targetPlanetID != 0 %} (ID: {{ FleetRow.targetPlanetID }}){% endif %}</td>
	<td>{% if FleetRow.state == 1 %}<span style="color:lime;">{% endif %}{{ FleetRow.endtime }}{% if FleetRow.state == 0 %}</span>{% endif %}</td>
	<td>{% if FleetRow.stayhour != 0 %}{% if FleetRow.state == 2 %}<span style="color:lime;">{% endif %}{{ FleetRow.staytime }} ({{ FleetRow.stayhour }} h){% if FleetRow.state == 0 %}</span>{% endif %}{% else %}-{% endif %}</td>
    <td><a href="admin.php?page=fleets&amp;id={{ FleetRow.fleetID }}&amp;lock={% if FleetRow.lock %}0" style="color:lime">{{ LNG.ff_unlock }}{% elseif FleetRow.error %}2" style="color:red">{{ LNG.ff_del }}{% else %}1" style="color:red">{{ LNG.ff_lock }}{% endif %}</a></td>
</tr>
{% else %}
<tr>
	<td colspan="12">{{ LNG.ff_no_fleets }}</td>
</tr>
{% endfor %}
</table>
</body>
{% include "overall_footer.twig" %}